﻿@model string

<div>
    I am the partial called @Model
    @using (Html.BeginScriptContext())
    {
        Html.AddScriptBlock(
            @<script type="text/javascript">
                 $(function() {
                     if (console) {
                         console.log('rendered from @Model');
                     }
                 });
             </script>
            );
    }
</div>
